<style type="text/css">

  .two_Cln_1_6 {padding:0 2em !important;}
  .two_Cln_Lft_Cln_1_3.ltr {float:right !important;}
	.two_Cln_Rgt_Cln_4_6.ltr {float:left !important;}

</style>

<!--[if true]>
<style type="text/css">

	td.two_Cln_1_6 {width:36em;}
	td.two_Cln_Lft_Cln_1_3 {font-size:16px; width:15.5em !important;}
	td.two_Cln_Rgt_Cln_4_6 {font-size:16px; width:15.5em !important;}
	td.gtr_1 {width:1em;}

</style>
<![endif]-->

<!-- Two Column 1-6 Open -->
<!--[if true]>
<table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="two_Cln_1_6">
<![endif]-->
		<div class="two_Cln_1_6" style="width:auto; max-width:32em; margin:0 auto; overflow:auto;"><!--[if true]>
<table role="presentation" align="center" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="two_Cln_Lft_Cln_1_3" valign="top">
<![endif]-->
		<div class="two_Cln_Lft_Cln_1_3 ltr" style="font-family:Arial, sans-serif; font-size:16px; line-height:1.5em; color:#333333;">

            <p style="margin:0 0 1em 0;">Left paragraph of text.</p>

        </div>
<!--[if true]>
	</td>
	<td class="gtr_1">&nbsp;</td>
	<td class="two_Cln_Rgt_Cln_4_6" valign="top">
<![endif]-->
	<div class="gtr_1 ltr"></div>
	<div class="two_Cln_Rgt_Cln_4_6 ltr" style="font-family:Arial, sans-serif; font-size:16px; line-height:1.5em; color:#333333; padding:0;">

        <p style="margin:0 0 1em 0;">Right paragraph of text.</p>

    </div>
<!--[if true]>
		</td>
	</tr>
</table>
<![endif]-->
		</div>
<!--[if true]>
		</td>
	</tr>
</table>
<![endif]-->
<!-- Two Column 1-6 Close -->
